#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.addNewTask {
  display: flex;
  place-items: center;
  gap: 10px;
  justify-content: center;
}

table.taskItems {
  border-spacing: 10px;
  margin: 0 auto;
}